<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/layout1}">

<div layout:fragment="content">
    <div class="panel panel-primary">
        <div class="panel-heading">View Page In Maintenance</div>
    </div>
    <div class="panel-body">

        <div class="form-group">
            <label>데이터번호</label>
            <input class="form-control" name="mno" th:value="${dto.mno}" readonly="readonly"/>
        </div>

        <div class="form-group">
            <label>분류번호</label>
            <input class="form-control" name="clasNo" th:value="${dto.clasNo}" readonly="readonly" />
        </div>

        <div class="form-group" style="width: 49%; float: left;">
            <label>생성시간</label>
            <input class="form-control" name="createTime" th:value="${#dates.format(dto.createTime, 'yyyy-MM-dd')}" readonly="readonly" />
        </div>

        <div class="form-group" style="width: 49%; float: right; ">
            <label>수정시간</label>
            <input class="form-control" name="modifyTime" th:value="${#dates.format(dto.modifyTime, 'yyyy-MM-dd')}" readonly="readonly" />
        </div> <div style="clear:both;"></div>

        <div class="form-group" style="width: 49%; float: left;" >
            <label>색인어(한글)</label>
            <input class="form-control" name="indexKR" th:value="${dto.indexKR}" readonly="readonly" />
        </div>

        <div class="form-group" style="width: 49%; float: right;">
            <label>색인어(한자)</label>
            <input class="form-control" name="indexCN" th:value="${dto.indexCN}" readonly="readonly" />
        </div> <div style="clear:both;"></div>

        <div class="form-group" style="width: 49%; float: left;">
            <label>대분류(한글)</label>
            <input class="form-control" name="lclasKR" th:value="${dto.lclasKR}" readonly="readonly" />
        </div>

        <div class="form-group" style="width: 49%; float: right;">
            <label>대분류(한자)</label>
            <input class="form-control" name="lclasCN" th:value="${dto.lclasCN}" readonly="readonly" />
        </div> <div style="clear:both;"></div>

        <div class="form-group" style="width: 49%; float: left;">
            <label>중분류(한글)</label>
            <input class="form-control" name="mclasKR" th:value="${dto.mclasKR}" readonly="readonly" />
        </div>

        <div class="form-group" style="width: 49%; float: right;">
            <label>중분류(한자)</label>
            <input class="form-control" name="mclasCN" th:value="${dto.mclasCN}" readonly="readonly" />
        </div> <div style="clear:both;"></div>

        <div class="form-group" style="width: 49%; float: left;">
            <label>소분류(한글)</label>
           <input class="form-control" name="sclasKR" th:value="${dto.sclasKR}" readonly="readonly" />
        </div>

        <div class="form-group" style="width: 49%; float: right;">
            <label>소분류(한자)</label>
            <input class="form-control" name="sclasCN" th:value="${dto.sclasCN}" readonly="readonly" />
        </div> <div style="clear:both;"></div>

        <div class="form-group">
            <label>기사 개요</label>
            <textarea class="form-control" rows="3" name="articlSumry" th:text="${dto.articlSumry}" readonly="readonly"></textarea>
        </div>

        <div class="form-group">
            <label>기사 원문</label>
            <textarea class="form-control" rows="10" name="articlOrginl" th:text="${dto.articlOrginl}" readonly="readonly"></textarea>
        </div>

        <div class="form-group">
            <label>기사 문헌 명칭</label>
            <input class="form-control" name="ltrtreNM" th:value="${dto.ltrtreNM}" readonly="readonly" />
        </div>

        <div class="form-group" style="width: 49%; float: left;">
            <label>출전(한글)</label>
            <input class="form-control" name="sourceKR" th:value="${dto.sourceKR}" readonly="readonly" />
        </div>

        <div class="form-group" style="width: 49%; float: right;">
            <label>출전(한자)</label>
            <input class="form-control" name="sourceCN" th:value="${dto.sourceCN}" readonly="readonly" />
        </div> <div style="clear:both;"></div>

        <div class="form-group" style="width: 30%; float: left;">
            <label>연도(모호년)</label>
            <input class="form-control" name="yearNameOfTomb" th:value="${dto.yearNameOfTomb}" readonly="readonly" />
        </div>

        <div class="form-group" style="width: 30%; float: right;">
            <label>월</label>
            <input class="form-control" name="month" th:value="${dto.month}" readonly="readonly" />
        </div>

        <div class="form-group" style="width: 30%; margin: 0 auto; ">
            <label>연도(서기)</label>
            <input class="form-control" name="yearAD" th:value="${dto.yearAD}" readonly="readonly" />
        </div> <div style="clear:both;"></div>

        <div class="form-group" style="width: 49%; float: left;">
            <label>왕조(한국)</label>
            <input class="form-control" name="dynastyKR" th:value="${dto.dynastyKR}" readonly="readonly" />
        </div>

        <div class="form-group" style="width: 49%; float: right;">
            <label>왕조(중국)</label>
            <input class="form-control" name="dynastyCN" th:value="${dto.dynastyCN}" readonly="readonly" />
        </div> <div style="clear:both;"></div>

        <div class="form-group" style="width: 49%; float: left;">
            <label>지역 1(한글)</label>
            <input class="form-control" name="area1KR" th:value="${dto.area1KR}" readonly="readonly" />
        </div>

        <div class="form-group" style="width: 49%; float: right;">
            <label>지역 1(한자)</label>
            <input class="form-control" name="area1CN" th:value="${dto.area1CN}" readonly="readonly" />
        </div> <div style="clear:both;"></div>

        <div class="form-group" style="width: 49%; float: left;">
            <label>지역 2(한글)</label>
            <input class="form-control" name="area2KR" th:value="${dto.area2KR}" readonly="readonly" />
        </div>

        <div class="form-group" style="width: 49%; float: right;">
            <label>지역 2(한자)</label>
            <input class="form-control" name="area2CN" th:value="${dto.area2CN}" readonly="readonly" />
        </div> <div style="clear:both;"></div>

        <div class="form-group" style="width: 49%; float: left;">
            <label>지역 3(한글)</label>
            <input class="form-control" name="area3KR" th:value="${dto.area3KR}" readonly="readonly" />
        </div>

        <div class="form-group" style="width: 49%; float: right;">
            <label>지역 3(한자)</label>
            <input class="form-control" name="area3CN" th:value="${dto.area3CN}" readonly="readonly" />
        </div> <div style="clear:both;"></div>

        <div class="form-group" style="width: 49%; float: left;">
            <label>최초 생성 계정</label>
            <input class="form-control" name="createBy" th:value="${dto.createBy}" readonly="readonly" />
        </div>

        <div class="form-group" style="width: 49%; float: right;">
            <label>마지막 수정 계정</label>
            <input class="form-control" name="modifyBy" th:value="${dto.modifyBy}" readonly="readonly" />
        </div> <div style="clear:both;"></div>

        <div class="form-group" >
            <label>참고 색인어</label> <div style="clear:both;"></div>
            <input th:each="referIndex:${dto.referIndex}" style="width: 9%; float: left; margin-right: 5px" class="form-control referSearch" id="referSearch" name="referIndex" th:value="${referIndex}" readonly="readonly" />
            <div style="clear:both;"></div>
        </div>

        <div class="form-group">
            <label>비고</label>
            <input class="form-control" name="remark" th:value="${dto.remark}" readonly="readonly" />
        </div>

        <div class="pull-right">

            <a th:href="@{ modify(page=${pageVO.page}, size=${pageVO.size}, type=${pageVO.type}, keyword=${pageVO.keyword}, mno=${dto.mno}) }"
               class="btn btn-default">Modify or Delete</a>

            <a th:href="@{ list(page=${pageVO.page}, size=${pageVO.size}, type=${pageVO.type}, keyword=${pageVO.keyword}, mno=${dto.mno}) }"
               class="btn btn-primary">Back</a>

        </div>

        <!-- Form for Data passing -->
        <form id='f1' th:action="@{list}" method="get">
            <input type='hidden' name='type' th:value=${pageVO.type}>
            <input type='hidden' name='keyword' th:value=${pageVO.keyword}>
        </form>

    </div>


</div>
<!-- end fragment -->

<th:block layout:fragment="script">
    <script th:inline="javascript" th:src="@{'/js/reply.js'}"></script>
    <script th:inline="javascript">


        // 수정이 된 후에 이쪽 페이지로 넘어왔을 때 저장 완료 메세지
        $(window).load(function (){
            var msg = [[${msg}]];

            if(msg == 'success') {
                alert("성공적으로 수정되었습니다.");
                var stateObj = { msg:"" };
            }
        });

        // referSearch 클릭했을 시, 검색 리스트로 넘어가도록 하는 메서드
        $(".referSearch").click(function (e){
            var referKeyword = $(this).val();

            if(confirm("Do you want to search for a list with reference index: " + referKeyword)) {
                var formObj = $("#f1");
                formObj.find("[name='type']").val("refer");
                formObj.find("[name='keyword']").val(referKeyword);
                formObj.find("[name='page']").val("1");
                formObj.submit();
            }
        });

    </script>
</th:block>