<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/layout1}">

<div layout:fragment="content">
    <div class="panel panel-danger">
        <div class="panel-heading">Register Page In Delete</div>
    </div>
    <div class="panel-body">
        <form th:action="@{register}" method="post">

            <div class="form-group">
                <label>분류번호</label>
                <input class="form-control" name="clasNo" th:value="${dto.clasNo}" />
            </div>

            <div class="form-group" style="width: 49%; float: left;" >
                <label>색인어(한글)</label>
                <input class="form-control" name="indexKR" th:value="${dto.indexKR}"  />
            </div>

            <div class="form-group" style="width: 49%; float: right;">
                <label>색인어(한자)</label>
                <input class="form-control" name="indexCN" th:value="${dto.indexCN}" />
            </div> <div style="clear:both;"></div>

            <div class="form-group">
                <label>기사 개요</label>
                <textarea class="form-control" rows="3" name="articlSumry" th:text="${dto.articlSumry}"></textarea>
            </div>

            <div class="form-group">
                <label>기사 원문</label>
                <textarea class="form-control" rows="10" name="articlOrginl" th:text="${dto.articlOrginl}" ></textarea>
            </div>

            <div class="form-group">
                <label>기사 문헌 분류</label>
                <input class="form-control" name="ltrtreClas" th:value="${dto.ltrtreClas}" />
            </div>

            <div class="form-group">
                <label>기사 문헌 명칭</label>
                <input class="form-control" name="ltrtreNM" th:value="${dto.ltrtreNM}" />
            </div>

            <div class="form-group" style="width: 49%; float: left;">
                <label>출전(한글)</label>
                <input class="form-control" name="sourceKR" th:value="${dto.sourceKR}"  />
            </div>

            <div class="form-group" style="width: 49%; float: right;">
                <label>출전(한자)</label>
                <input class="form-control" name="sourceCN" th:value="${dto.sourceCN}" />
            </div> <div style="clear:both;"></div>

            <div class="form-group" style="width: 30%; float: left;">
                <label>연도(모호년)</label>
                <input class="form-control" name="yearNameOfTomb" th:value="${dto.yearNameOfTomb}"  />
            </div>

            <div class="form-group" style="width: 30%; float: right;">
                <label>월</label>
                <input class="form-control" name="month" th:value="${dto.month}" />
            </div>

            <div class="form-group" style="width: 30%; margin: 0 auto; ">
                <label>연도(서기)</label>
                <input class="form-control" name="yearAD" th:value="${dto.yearAD}" />
            </div> <div style="clear:both;"></div>

            <div class="form-group" style="width: 49%; float: left;">
                <label>왕조(한국)</label>
                <input class="form-control" name="dynastyKR" th:value="${dto.dynastyKR}" />
            </div>

            <div class="form-group" style="width: 49%; float: right;">
                <label>왕조(중국)</label>
                <input class="form-control" name="dynastyCN" th:value="${dto.dynastyCN}" />
            </div> <div style="clear:both;"></div>

            <div class="form-group" style="width: 49%; float: left;">
                <label>지역 1(한글)</label>
                <input class="form-control" name="area1KR" th:value="${dto.area1KR}" />
            </div>

            <div class="form-group" style="width: 49%; float: right;">
                <label>지역 1(한자)</label>
                <input class="form-control" name="area1CN" th:value="${dto.area1CN}" />
            </div> <div style="clear:both;"></div>

            <div class="form-group" style="width: 49%; float: left;">
                <label>지역 2(한글)</label>
                <input class="form-control" name="area2KR" th:value="${dto.area2KR}" />
            </div>

            <div class="form-group" style="width: 49%; float: right;">
                <label>지역 2(한자)</label>
                <input class="form-control" name="area2CN" th:value="${dto.area2CN}" />
            </div> <div style="clear:both;"></div>

            <div class="form-group" style="width: 49%; float: left;">
                <label>지역 3(한글)</label>
                <input class="form-control" name="area3KR" th:value="${dto.area3KR}" />
            </div>

            <div class="form-group" style="width: 49%; float: right;">
                <label>지역 3(한자)</label>
                <input class="form-control" name="area3CN" th:value="${dto.area3CN}" />
            </div> <div style="clear:both;"></div>

            <div class="form-group" style="width: 49%; float: left;">
                <label>최초 생성 계정</label>
                <input class="form-control" name="createBy" th:value="${#authentication.principal.member.uid}" readonly="readonly" />
            </div>

            <div class="form-group" style="width: 49%; float: right;">
                <label>마지막 수정 계정</label>
                <input class="form-control" name="modifyBy" th:value="${#authentication.principal.member.uid}" readonly="readonly" />
            </div> <div style="clear:both;"></div>

            <div class="form-group">
                <label>참고 색인어</label>
                <input class="form-control" name="referIndex" th:value="${dto.referIndex}" />
            </div>

            <div class="form-group">
                <label>비고</label>
                <input class="form-control" name="remark" th:value="${dto.remark}"  />
            </div>

            <!-- Security를 위한 히든 데이터 -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <button type="submit" class="btn btn-default">Submit Button</button>
            <button type="reset" class="btn btn-primary">Reset Button</button>
        </form>



    </div>
</div>
<!-- end fragment -->

<th:block layout:fragment="script">
    <script th:inline="javascript">

    </script>
</th:block>